extends ./layout

block title
    | Here is my title

block body
    h1.title Hello FSWD!                
    p.subtitle This is the #[code index.pug] template

    form(action="/somepath" method="POST")
        p Enter your name!
        input(type="text" name="name")
        input(type="text" name="lastName")
        input(type="number" name="inseam")
        button(type="submit") Click me!
        