html
    head
        title Hello world!
    body
        if lastName
            p Hello, #{name} #{lastName}!
        else
            p Hello, #{name}!
        if inseam
            p And I understand your inseam is #{inseam} inches.