extends ./layout

block body
    p Tasks list!
    each task in tasks
        p
            a(href="/tasks/" + task.id)= task.name

    p Users list!
    each user in users
        p= user.username

    form(action="/tasks" method="POST")
        input(type="text" name="task")
        button(type="submit") Add task